/* * 	
* *	Dynamic Text Group — Field Editor styling
* *	@author: Brock Petrie, brockpetrie@gmail.com
* *	@source: http://github.com/brockpetrie/datetime
* */


#stage {
	width:100%;
	float:left;
	position:absolute;
	/*background:rgba(255,100,200,0.5);*/
	}
.box {
	width:100%;
	float:left;
	height:38px;
	}
	.handle {
		height:100%;
		width:15px;
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAE0lEQVQImWNgIAIYY8HEAXrqBAArrgL+8a+fNwAAAABJRU5ErkJggg==) center center no-repeat;
		float:left;
		cursor:pointer;
		}
	.options {
		height:100%;
		width:15px;
		background:url(images/dropdown.png) center center no-repeat;
		right:3px;
		top:0px;
		margin:0 auto;
		cursor:pointer;
		position:absolute;
		z-index:999;
		}
		.options ul {
			position:absolute;
			display:none;
			padding:10px;
			margin:0;
			width:140px;
			right:0px;
			top:23px;
			background:#333;
			color:#888;
			border:1px solid #222;
			cursor:auto;
			z-index:1000;
			list-style:none;
			}
		.options:hover { background-image:url(images/dropdown-open.png); }	
		.options:hover ul { display:block; }	
		.options li {
			font-family:Lucinda Grande, Tahoma, Geneva, sans-serif;
			list-style:none;
			padding:0 0 8px 0;
			margin:0 0 8px 0;
			border-bottom:1px solid #444;
			line-height:1em;
			}
		.options li:last-child {
			border:none;
			margin:0;
			padding:0;
			}
			
		.options label { margin:0; }
		.options input[type='checkbox'] { margin-right:5px; }
.placeholder {
	width:10%;
	float:left;
	height:32px;
	margin:3px;
	background:rgba(256,256,256,.3);
	}
	.inner {
		padding:5px 0;
		height:22px;
		margin:3px;
		background:#fff;
		position:relative;
		box-shadow: 0 0 5px #999;
		-webkit-box-shadow: 0 0 5px #999;
		-moz-box-shadow: 0 0 5px #999;
		}
	.inner:hover {
		box-shadow: 0 0 5px #666;
		-webkit-box-shadow: 0 0 5px #666;
		-moz-box-shadow: 0 0 5px #666;
		}
		.box.new .inner {
			}
		
	.box span {
		position:relative;
		}
	.box .tfield {
		font-family:Lucinda Grande, Tahoma, Geneva, sans-serif;
		color:#887;
		font-size:11px;
		height:14px;
		background:none;
		border:none;
		padding:4px 3px;
		width:40%;
		margin:0;
		position:absolute;
		left:12px;
		top:5px;
		}
	.box .tfield:focus {
		padding:3px 2px;
		border:1px solid #e0e0e0;
		background:#fcfcfc;
		-moz-box-shadow:inset 0 1px 2px #eaeaea;
		-webkit-box-shadow:inset 0 1px 2px #eaeaea;
		box-shadow:inset 0 1px 2px #eaeaea;
		outline:none;
		}
		
	.box.error .inner { background:#FFEFED; }
	.box.error .tfield { color:#d43; }
		
.ui-resizable { position: relative;}
.ui-resizable-handle {
	position: absolute;font-size: 0.1px;z-index: 99999; display: block;
	background-image:url(data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=);
	}
.ui-resizable-e { cursor: col-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-disabled .ui-resizable-e { display:none; }

#stageHolder {
	background:#ccb;
	padding:4px;
	height:64px;
	border:1px solid rgba(170,170,153,.3);
	margin-bottom:15px;
	position:relative;
	}

.dtgButton {
	background-color:#000;
	color:#FFF;
	cursor:pointer;
	/*padding:4px 10px 5px;
	line-height:0.99;*/
	padding:.4em 1em .5em 1em;
	line-height:2em;
	font:10px/11px Lucida Grande, Leelawadee, Tahoma, Verdana, sans-serif;
	border-radius:1em;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	text-decoration:none;
	display:block;
	text-align:center;
	}
	.dtgButton:hover {
		background-color:#FFF;
		color:#000;
		}

	.dtgButton#add {
		float:right;
		position:absolute;
		right:6px;
		bottom:6px;
		color:#fff;
		background:#81b934;
		}
		.dtgButton#add:hover {
			color:#fff;
			background:#75AB2B;
			}
	.dtgButton.del {
		font-size:.8em;
		}
		.dtgButton.del:hover {
			background:#d43;
			color:#fff;
			}
	
#messages {
	float:left;
	position:absolute;
	left:7px;
	bottom:7px;
	}
	.msg {
		line-height:1;
		float:left;
		height:10px;
		padding:4px 4px 3px 4px;
		font-size:9px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		}
	.msgbad {
		background:#d43;
		color:#fff;
		}