/* * 	
 * *	Dynamic Text Group styling
 * *	@author: Brock Petrie, brockpetrie@gmail.com
 * *	@source: http://github.com/brockpetrie/dynamictextgroup
 * */
	
.field-dynamictextgroup div.frame ul.selection li { padding-right: 0; }

.field-dynamictextgroup div.frame span {
	padding: 3px 42px 4px 16px;
	margin: 0;
	display: block;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 1em;
	}
	
.field-dynamictextgroup .frame > ol {
	box-shadow: 0 1px 2px rgba(0,0,0,0.12) !important;
	}
	.field-dynamictextgroup .frame > ol > li {
		border-color: #bbb;
		}
		.field-dynamictextgroup .frame > ol > li:first-of-type { border-top: 1px solid #bbb; }
		.field-dynamictextgroup .frame.single > ol > li:nth-last-of-type(-n+2) {
			border-bottom: 1px solid #bbb;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			}
	
.field-dynamictextgroup ol > li header {
	padding: 7px 60px 7px 14px;
	background: rgba(245,245,245,0);
	}
	
	.field-dynamictextgroup .frame.single ol > li header { padding: 7px; }
	.field-dynamictextgroup .frame > ol > li header { cursor: pointer; }
	.field-dynamictextgroup ol > li header.focus {
		padding-right: 60px;
		padding: 7px 60px 7px 14px;
		background: rgba(0,0,0,0.04);
		}

.field-dynamictextgroup div.frame span.fields {
	background:none !important;
	padding: 0px;
	width: 100%;
	}
.field-dynamictextgroup div.frame span.fieldHolder {
	background:none !important;
	padding: 0 3px 0 0;
	width: 50%;
	position:relative;
	float: left;
	}

.field-dynamictextgroup div.frame div.clear {
	clear:both;
	}

.field-dynamictextgroup div.frame span.fields em.label {
	color: #BBB;
	position: absolute;
	top:0;
	right:10px;
	margin-top: 0;
	}
	label > i > span.req { color:#d43; }
	.invalid label > i > span.req { color:#fff; }
.field-dynamictextgroup div.frame span.fields em.end.label {
	top: 28px;
	}

.field-dynamictextgroup div.frame .destructor {
	top: 10px;
	}

/*	*	*	Input Styling	*	*	*/
.field-dynamictextgroup header label {
	margin: 0;
	}
.field-dynamictextgroup header label.fieldtype-radio-label { padding: 3px 0 0 8px; }
.field-dynamictextgroup header label.fieldtype-checkbox-label { padding: 4px 0 0 8px; }
.field-dynamictextgroup header label.fieldtype-radio-label input,
.field-dynamictextgroup header label.fieldtype-checkbox-label input { margin-right: 3px; }
.field-dynamictextgroup header input {
	margin: 0;
	}
	.field-dynamictextgroup li.ordering header input {
		border-color: #44689e;
		}
	.field-dynamictextgroup header input[type="text"] {
		height: 24px;
		}


/*	*	*	Select Styling	*	*	*/
.select2-container {
	width: 100%;
	}
.select2-search input {
	min-height: 24px;
	height: 24px;
	margin-top: 3px;
	border-radius: 2px;
	}
	.select2-search input:focus {
		box-shadow: none;
		border-color: #aaa;
		}
.select2-container > a {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0 !important;
	height: 24px !important;
	box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	padding: 0 8px !important;
	}
	.select2-container-active > a {
		border: 1px solid rgba(0,0,0,0.25) !important;
		box-shadow: none !important;
		}
	.field-dynamictextgroup div.frame .select2-container > a span {
		padding: 5px 5px 5px 2px;
		height: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		color: #666;
		background: url(images/select-arrows.png) right center no-repeat;
		}
.select2-container > a div {
	background: none;
	border: none;
	display: none !important;
	}
.select2-container > a abbr { top: 4px !important; right: 20px !important; opacity: 0.5 !important; }
.req .select2-container > a abbr { display: none !important; }
.select2-container > a div b {
	background: url(images/select-arrows.png) no-repeat 5px 6px;
	opacity: 0.75;
	}
.select2-dropdown-open > a {
	border-bottom: none;
	}
.select2-dropdown-open > a div b {
	opacity: 0.9;
	}

ul.select2-results > li.placeholder {
	display: none !important;
	}
.select2-choice > span { color: #444 !important; }
.select2-choice.select2-default > span { color: #aaa !important; }


/*	*	*	Bad/invalid item styling	*	*	*/
		
.field-dynamictextgroup .invalid input[type="text"]:focus { border: 1px solid rgba(0, 0, 0, 0.4); }
.field-dynamictextgroup .invalid input[type="text"] { border: 1px solid rgba(0, 0, 0, 0.25); }

.field-dynamictextgroup .invalid .dtg .req input[value=""],
.field-dynamictextgroup .invalid .dtg .req.empty .customStyleSelectBox,
.field-dynamictextgroup .invalid .dtg .baditem input[type="text"],
.field-dynamictextgroup .invalid .dtg .baditem label {
	border: 1px solid #cc3311 !important;
	}
	
.field-dynamictextgroup .invalid .dtg .req .select2-choice.select2-default > span { color: #eb6347 !important; }

.field-dynamictextgroup .invalid .new .req input[value=""] {
	border: 1px solid #C2C2C2 !important;
	}
.field-dynamictextgroup .invalid .new .req.empty .customStyleSelectBox {
	border: 1px solid #C2C2C2 !important;
	border-bottom-color:#bbb !important;
	}
	

/* Radio Styling
.field-dynamictextgroup div.duplicator .fieldtype-radio input, .field-dynamictextgroup div.duplicator .fieldtype-checkbox input { position:relative; top:1px; }
.field-dynamictextgroup div.duplicator .fieldtype-radio label,
.field-dynamictextgroup div.duplicator .fieldtype-checkbox label {
	margin:0;
	padding: 5px 4px 5px 4px !important;
	border:1px solid transparent;
	text-align:center;
	line-height:1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background:none;
	}
*/