/* * 	
 * *	Dynamic Text Group styling
 * *	@author: Brock Petrie, brockpetrie@gmail.com
 * *	@source: http://github.com/brockpetrie/dynamictextgroup
 * */
	
.field-dynamictextgroup div.duplicator ul.selection li { padding-right: 0; }

.field-dynamictextgroup div.duplicator span {
	padding: 3px 42px 4px 16px;
	margin: 0;
	display: block;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 1em;
	}

.field-dynamictextgroup ol > li header {
	padding-right: 60px;
	padding: 7px 60px 7px 14px;
	background: rgba(245,245,245,0);
	}
	.frame.orderable.multiple > ol > li header { cursor: pointer; }
	.field-dynamictextgroup ol > li header.focus {
		padding-right: 60px;
		padding: 7px 60px 7px 14px;
		background: rgba(0,0,0,0.04);
		}

.field-dynamictextgroup div.duplicator span.fields {
	background:none !important;
	padding: 0px;
	width: 100%;
	}
.field-dynamictextgroup div.duplicator span.fieldHolder {
	background:none !important;
	padding: 0 3px 0 0;
	width: 50%;
	position:relative;
	float: left;
	}

.field-dynamictextgroup div.duplicator div.clear {
	clear:both;
	}

.field-dynamictextgroup div.duplicator span.fields em.label {
	color: #BBB;
	position: absolute;
	top:0;
	right:10px;
	margin-top: 0;
	}
	label > i > span.req { color:#d43; }
	.invalid label > i > span.req { color:#fff; }
.field-dynamictextgroup div.duplicator span.fields em.end.label {
	top: 28px;
	}

.field-dynamictextgroup div.duplicator .destructor {
	top: 10px;
	}

/*	*	*	Input Styling	*	*	*/
.field-dynamictextgroup header label {
	margin: 0;
	}
.field-dynamictextgroup header label.fieldtype-radio-label { padding: 3px 0 0 8px; }
.field-dynamictextgroup header label.fieldtype-checkbox-label { padding: 4px 0 0 8px; }
.field-dynamictextgroup header label.fieldtype-radio-label input,
.field-dynamictextgroup header label.fieldtype-checkbox-label input { margin-right: 3px; }
.field-dynamictextgroup header input {
	margin: 0;
	}
	.field-dynamictextgroup li.ordering header input {
		border-color: #44689e;
		}
	.field-dynamictextgroup header input[type="text"] {
		height: 24px;
		}


/*	*	*	Select Styling	*	*	*/
.select2-container {
	width: 100%;
	}
.select2-search input {
	min-height: 24px;
	height: 24px;
	margin-top: 3px;
	border-radius: 2px;
	}
	.select2-search input:focus {
		box-shadow: none;
		border-color: #aaa;
		}
.select2-container > a {
	width: 100%;
	box-sizing: border-box;
	margin: 0 !important;
	height: 24px !important;
	box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	padding: 0 8px !important;
	}
	.select2-container-active > a {
		border: 1px solid rgba(0,0,0,0.25) !important;
		box-shadow: none !important;
		}
	.field-dynamictextgroup div.duplicator .select2-container > a span {
		padding: 5px 5px 5px 2px;
		height: 100%;
		box-sizing: border-box;
		color: #666;
		background: url(images/select-arrows.png) right center no-repeat;
		}
.select2-container > a div {
	background: none;
	border: none;
	display: none !important;
	}
.select2-container > a abbr {
	top: 5px;
	}
.select2-container > a div b {
	background: url(images/select-arrows.png) no-repeat 5px 6px;
	opacity: 0.75;
	}
.select2-dropdown-open > a {
	border-bottom: none;
	}
.select2-dropdown-open > a div b {
	opacity: 0.9;
	}

ul.select2-results > li.placeholder {
	display: none !important;
	}



/*	*	*	Focus Styling	*	*	
.field-dynamictextgroup div.duplicator span.fields.focus input,
.field-dynamictextgroup div.duplicator span.fields.focus .customStyleSelectBox {
	box-shadow: 0 0 5px #a7a7a7 !important;
	-webkit-box-shadow: 0 0 5px #a7a7a7 !important;
	-moz-box-shadow: 0 0 5px #a7a7a7 !important;
	}
.field-dynamictextgroup div.duplicator span.fields input:focus { outline: none; }
*/


/*	*	*	Bad/invalid item styling	*	*	
.field-dynamictextgroup div.invalid {
	padding: 0.75em 1em 0.75em;
	background-color: #D42;
	border: 1px solid #C31;
	border-top-width: 0;
	border-bottom-color: #B21;margin-top: 1.5em;
	}
	.field-dynamictextgroup div.invalid label { border:none; margin-top:1px; margin-bottom:1.5em; }
	.field-dynamictextgroup div.invalid label i { top:0; right:0; }
	.field-dynamictextgroup div.invalid .stage { margin-bottom:0.75em; }
	.field-dynamictextgroup div.invalid p {
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		}
.field-dynamictextgroup .invalid .req input[value=""],
.field-dynamictextgroup .invalid .req.empty .customStyleSelectBox,
.field-dynamictextgroup .invalid .baditem input[type="text"],
.field-dynamictextgroup .invalid .baditem label {
	border: 1px solid #d42 !important;
	}
.field-dynamictextgroup .invalid .new .req input[value=""] {
	border: 1px solid #C2C2C2 !important;
	}
.field-dynamictextgroup .invalid .new .req.empty .customStyleSelectBox {
	border: 1px solid #C2C2C2 !important;
	border-bottom-color:#bbb !important;
	}
*/


/*	*	*	Textfield styling	*	*	
.field-dynamictextgroup div.duplicator span.fields input[type="text"] {
	width: 100%;
	font-size: 109.09%;
	border: 1px solid #C2C2C2;
	background: #fff !important;
	padding: 4px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 1px 1px 1px #eee, 0 1px 0 rgba(255,255,255,0.35);
	-moz-box-shadow: inset 1px 1px 1px #eee, 0 1px 0 rgba(255,255,255,0.35);
	box-shadow: inset 1px 1px 1px #eee, 0 1px 0 rgba(255,255,255,0.35);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
	}
*/


/*	*	*	Select list styling	*	*	*/
/*.field-dynamictextgroup div.duplicator span.fields select {
	position:relative;
	top:3px;
	font-size: 109.09%;
	}
	span.customStyleSelectBox {
		font-size: 109.09%;
		border: 1px solid #C2C2C2;
		border-bottom-color:#bbb;
		padding: 5px 5px 6px 5px !important;
		line-height:1em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		float: left;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #eee 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eee));
		background: -webkit-linear-gradient(top, #ffffff 0%,#eee 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#eee 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#eee 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
		background: linear-gradient(top, #ffffff 0%,#eee 100%);
		}
	span.customStyleSelectBox span, span.customStyleSelectBox span:hover {
		background:url(images/select-arrows.png) no-repeat center right !important;
		padding:0 !important;
		}
	span.customStyleSelectBoxInner { background:url(images/select-arrows.png) no-repeat center right !important; }*/



/* Radio Styling
.field-dynamictextgroup div.duplicator .fieldtype-radio input, .field-dynamictextgroup div.duplicator .fieldtype-checkbox input { position:relative; top:1px; }
.field-dynamictextgroup div.duplicator .fieldtype-radio label,
.field-dynamictextgroup div.duplicator .fieldtype-checkbox label {
	margin:0;
	padding: 5px 4px 5px 4px !important;
	border:1px solid transparent;
	text-align:center;
	line-height:1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background:none;
	}
*/